#main-menu #extension-power-settings-menu-item {
  background-image: url('../images/menu-icon.svg');
}

/*
#extension-power-settings-show-reset-settings-button{
    display:none!important;
}
*/

/*  fullscreen icon  */
#extension-power-settings-fullscreen-button-container{
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 5.6rem;
    width: 5.6rem;
    background-color: #5d9bc7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    border-radius:50%;
}

#extension-power-settings-content #extension-power-settings-fullscreen-button{
    background: no-repeat center/100% url('../images/fullscreen-icon.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    border-radius:50%;
    box-shadow:none;
}


.kiosk #extension-power-settings-fullscreen-button-container{
    display:none;
}


#extension-power-settings-restart{
    display:none;
}

.developer #extension-power-settings-restart{
    display:inline-block;
}

#extension-power-settings-available-memory-container{
    display:none;
    text-align:center;
}
.developer #extension-power-settings-available-memory-container{
    display:block;
}

#allow-anonymous-mqtt-item{
    display:none;
    background-image:url('../images/mqtt-icon.svg');
}
.developer #allow-anonymous-mqtt-item{
    display:block;
}

#extension-power-settings-secondary-buttons{
    text-align:center;
}

#extension-power-settings-view {
	height: 100%;
	box-sizing: border-box;
	/* overflow: auto; */
	/* position: relative; */
	top: 0rem;
	/* left: 0; */
	/* margin-top: 6em; */
	padding: 2rem;
	overflow: auto;
}


#extension-power-settings-content {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: auto;
	position: relative;
	text-align: left;
	font-size: 1.6rem;
	color: #fff;
	margin: 0 auto;
    margin-top:6rem;
	min-height:calc(100% - 6rem); 
    
}

#extension-power-settings-content > *{
    max-width:60rem;
}


#extension-power-settings-content-container{
	max-height: 100%;
}


#extension-power-settings-content label{
	min-width: 100px;
	display: inline-block;
}

#extension-power-settings-content input:invalid{
	/*border:2px solid red;*/
}

.extension-power-settings-container{
    color:white;
}

/*
.extension-power-settings-container{
    background-color:rgba(0,0,0,.2);
    border-radius:.5rem;
    padding:2rem;
    margin: 2rem;
}
*/

.extension-power-settings-container p{
    line-height:2.5rem;
}

#extension-candleappstore-view p{
    word-wrap:break-word;
}







/*  SYSTEM UPDATES  */

.extension-power-settings-dev-only{
    display:none;
}

.developer .extension-power-settings-dev-only{
    display:block;
}


#extension-power-settings-update-failed{
    background-color:red;
    padding:2rem;
    border-radius:.5rem;
    margin:2rem 0;
}

#extension-power-settings-update-progress-container{
    text-align:center;
    margin-top:6rem;
}


#extension-power-settings-update-process-progress-bar-container{
    border:2px solid white;
    border-radius:2rem;
    height:2rem;
    width:100%;
    box-sizing:border-box;
    overflow:hidden;
}

#extension-power-settings-update-process-progress-bar{
    width:0%;
    height:100%;
    background-color:white;
}


#extension-power-settings-update-process-output{
    white-space: pre-line;
    text-align: left;
    line-height: 3rem;
}



/*  LOGOUT */

#logout{
    display:none;
}



/*  waiting  */

#extension-power-settings-waiting{
    background-color:rgba(0,0,0,.2);
    border-radius:.5rem;
    padding:2rem;
    margin: 2rem;
    text-align:center;
}
#extension-power-settings-waiting > img{
    margin: 2rem auto;
}


.extension-power-settings-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.extension-power-settings-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.extension-power-settings-spinner div:nth-child(1) {
  left: 8px;
  animation: extension-power-settings-spinner1 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(2) {
  left: 8px;
  animation: extension-power-settings-spinner2 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(3) {
  left: 32px;
  animation: extension-power-settings-spinner2 0.6s infinite;
}
.extension-power-settings-spinner div:nth-child(4) {
  left: 56px;
  animation: extension-power-settings-spinner3 0.6s infinite;
}
@keyframes extension-power-settings-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes extension-power-settings-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes extension-power-settings-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



/*  full screen icon  */

#extension-power-settings-top-right-icon-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 6rem;
    width: 6rem;
}



/*  BUTTONS  */


#extension-power-settings-main-buttons{
    text-align:center;
}


.extension-power-settings-vlak{
    max-width:60rem;
    margin:0 auto;
    background-color:rgba(0,0,0,.2);
    padding:2rem;
    margin: 0 2rem 2rem 2rem;
}

.kiosk #extension-power-settings-scroll-container > div{
    margin-bottom:50rem;
}


#extension-power-settings-content button{
    opacity:.9;
    border: none;
    cursor:pointer;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color:rgba(0,0,0,.2);
    color:inherit;
}
#extension-power-settings-content button:hover{
    opacity:1;
}

#extension-power-settings-main-buttons > button{
    font-size:3rem;
    padding:1.5rem 3rem;
    margin: 1rem;
    background-color:rgba(0,0,0,.4);
}

#extension-power-settings-secondary-buttons > button{
    margin: 1rem;
    opacity:.6;
    padding:.5rem 1rem;
    border-radius:.5rem;
}

.extension-power-settings-form-big-button{
    font-size:1.8rem;
}


#extension-power-settings-form-browser-time-button{
	margin-left:calc(30% + 2rem);
}

#extension-power-settings-content #extension-power-settings-form-submit{
    font-size: 2rem;
    padding: 1rem 2rem;
}



#extension-power-settings-back-button{
    top: 2rem;
    left: 2rem;
    position: fixed;
    top:2rem;
    left:2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    padding: 0;
    background-color: #5d9bc7;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    z-index: 1000;
    overflow:hidden;
    opacity:1;
    cursor:pointer;
    /*background: #5d9bc7 no-repeat center/100% url(/images/back.png);*/
    background: transparent no-repeat center/100% url(/images/back.png);
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
}
#extension-power-settings-back-button:hover{
    background-color: #6dabd7;
}

#extension-power-settings-pages.hidden{
    opacity:0;
}
#extension-power-settings-pages:not(.hidden) #extension-power-settings-back-button{
    animation: extension-power-settings-fadeIn .3s linear;
}

@keyframes extension-power-settings-fadeIn {
   0% {opacity: 0;}
   80% {opacity: 0;}
   81% {opacity: 1;}
   100% {opacity: 1;} 
} 




#extension-power-settings-menu-backup-button{
    cursor:pointer;
    background-image:url('../images/backup.svg');
}
.kiosk #extension-power-settings-menu-backup-button{
    display:none;
}

#extension-power-settings-menu-time-button{
    cursor:pointer;
    background-image:url('../images/clock.svg');
}

#extension-power-settings-menu-update-button{
    cursor:pointer;
    background-image:url('../images/update.svg');
}

#extension-power-settings-menu-reset-button{
    cursor:pointer;
    background-image:url('../images/reset.svg');
}


/*  CHECKBOX  */

.extension-power-settings-container input[type=checkbox]{
    position: absolute;
    left: -1000em;
}

.extension-power-settings-container input[type=checkbox] + label::before{
    float: none;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.extension-power-settings-container input[type=checkbox]:checked + label::before,
 :root .transition-checkbox:checked + label::before {
    background-position: 0 -3rem;
}

.extension-power-settings-container input[type=checkbox] + label::before{
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-top: -0.25rem;
    background: url(/images/checkbox-sprite.png) no-repeat 0 0;
    background-size: 3rem auto;
}

#extension-power-settings-form-ntp + label{
    display:block;
}


/*  PAGES  */

#extension-power-settings-pages{
    z-index:99;
    position:fixed;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: #0c3b5c;
    font-size:1.6rem;
    padding-bottom:0;
}


.extension-power-settings-hidden{
    display:none!important;
}

#extension-power-settings-scroll-container{
    height:100%;
    overflow:auto;
}

#extension-power-settings-scroll-container > div{
    max-width:60rem;
    box-sizing:border-box;
    margin:6rem auto;
}


.extension-power-settings-header{
    font-size:1.8rem;
    text-align:center;
    margin-bottom:2rem;
}


.extension-power-settings-container label.extension-power-settings-form-label-left{
    width: 30%;
    min-width: 30%;
    display: inline-block;
    text-align: right;
    padding-right: 2rem;
}



.extension-power-settings-container ul{
    line-height:2.6rem;
    margin-bottom:3rem;
}


/*  TIME  */


.extension-power-settings-show-if-hardware-clock-detected{
    display:none;
}

.hardware-clock .extension-power-settings-show-if-hardware-clock-detected{
    display:block;
}

.hardware-clock .extension-power-settings-hide-if-hardware-clock-detected{
    display:none;
}


#extension-power-settings-shell-date,
#extension-power-settings-clock-page-icon{
    cursor:pointer;
}

#extension-power-settings-shell-date:not(:empty){
    padding-bottom:4rem;
}





/*  BACKUP  */

.extension-power-settings-form-backup button{
    width:100%;
    margin-bottom:1rem;
    font-size:1.8rem;
}


#extension-power-settings-backup-file-selector{
    font-size:1.8rem;
    padding:1rem 2rem;
    color:white;
    background-color: rgba(0,0,0,.2);
    box-sizing:border-box;
    width:100%;
    max-width:100%;
}

#extension-power-settings-backup-file-selector-container p{
    color:red;
    font-weight:bold;
}



/*  Memory and Disk use  */

.extension-power-settings-low-warning{
    background-color:#c57f00!important;
    text-align:center;
    font-weight:bold;
    border-radius:.5rem;
}




/*  UPDATE  */

#extension-power-settings-manual-update-container{
    display:none;
}
.developer #extension-power-settings-manual-update-container{
    display:block;
}

.extension-power-settings-form-system-update,
.extension-power-settings-form-manual-update{
    text-align:right;
}

.extension-power-settings-form-system-update{
    display: flex;
    justify-content: space-between;
}



#extension-power-settings-update-files-check-button{
    margin-right:1rem;
}

.extension-power-settings-container button{
    font-size: 1.8rem;
}


body > #extension-power-settings-update-process-progress-bar-container{
    position:fixed;
    bottom:2rem;
    left:2rem;
    right:2rem;
    height:4rem;
    /*background-color:rgba(255,255,255,.1);*/
    width:auto;
    z-index:10000;
    background-color:#0b263b;
}

#extension-power-settings-update-process-progress-bar-text{
    position:absolute;
    color: white;
    top: .5rem;
    left: calc(50% - 10rem);
    font-size:1.6rem;
}

#extension-power-settings-update-files-check-output:not(:empty){
    padding:2rem;
    margin-top:2rem;
    background-color:red;
}




@media screen and (min-width: 1024px) {
	/*
    body > #extension-power-settings-update-process-progress-bar-container{
	    left:10rem;
        right:10rem;
        top:2rem;
	}
    */
}


#extension-power-settings-content .control-label{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top:1rem;
}


#extension-power-settings-content .field-description{
	margin-top: .5rem;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 100px;
}
