<div id="extension-power-settings-content">
    
    <div id="extension-power-settings-waiting" style="display:none">
        <div id="extension-power-settings-waiting-message">
        </div>
        <div class="extension-power-settings-spinner"><div></div><div></div><div></div><div></div></div>
    </div>
    
    <div id="extension-power-settings-content-container">
          
          <div id="extension-power-settings-centered">
              
              <div id="extension-power-settings-update-in-progress-warning" style="display:none">
                  <h2>System update in progress</h2>
                  <p>Please do not reboot or shutdown the controller while the system update is in progress!</p>
              </div>
              <div id="extension-power-settings-main-buttons">
                <!--<h2>Shutdown or reboot the system</h2>-->
                <button type="button" id="extension-power-settings-logout"  title="Log out">Log out</button>
                <button type="button" id="extension-power-settings-reboot"  title="Shuts down and then powers up the controller again">Reboot</button>
                <button type="button" id="extension-power-settings-shutdown" title="Shuts down the controller">Shut down</button>
                <button type="button" id="extension-power-settings-restart" title="Restarts the controller software without completely reboot">Restart</button>
              </div>
              <br/><br/>
              <div id="extension-power-settings-low-voltage-warning"  class="extension-power-settings-low-warning extension-power-settings-vlak" style="display:none"><p>Warning, a low voltage was detected.<br/><br/>Your power supply might not be powerful or stable enough.</p></div>
              <div id="extension-power-settings-low-memory-warning"  class="extension-power-settings-low-warning extension-power-settings-vlak" style="display:none"><p>Warning, the system is low on memory</p></div>
              <div id="extension-power-settings-low-storage-warning" class="extension-power-settings-low-warning extension-power-settings-vlak" style="display:none"><p>Warning, the disk is getting very full</p></div>
              <div id="extension-power-settings-available-memory-container">
                  Total memory: <span id="extension-power-settings-total-memory">?</span>Mb<br/>
                  Available memory: <span id="extension-power-settings-available-memory">?</span>Mb<br/>
                  Free memory: <span id="extension-power-settings-free-memory">?</span>Mb<br/>
                  <br/>
                  Total space on user partition: <span id="extension-power-settings-total-disk">?</span>Mb<br/>
                  Available space on user partition: <span id="extension-power-settings-free-disk">?</span>Mb<br/>
              </div>
          </div>

          <br>
          <br>

          <div id="extension-power-settings-response" style="display:none">
                <pre id="extension-power-settings-response-data"></pre>
          </div>
          
    </div>
    <div id="extension-power-settings-fullscreen-button-container"><button id="extension-power-settings-fullscreen-button" class="icon-button" aria-label="Fullscreen"></button></div>
    
</div>





